@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
  width: 100%;
}

/* BEGIN */

.page_title,
.what_to_do {
	font-weight: 300;
	line-height: 120%;
	text-align: center;
	text-shadow: 0 1px 5px rgba(0,0,0,.8);
	text-transform: uppercase;
}
.logo{
  height: 45px;
  margin-top: 10px;
}
.menu_title{
  text-align: center;
}
a,
.side_menu {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

	.side_menu {
		background:#01134E;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 150px;
	}
	.side_menu .container {
		padding: 0 1em;
	}
	.list_load {	
		list-style: none;
		padding: 0;
	}
	.list_item {
    margin: 35px 0px;
		margin-left: 1px;
		opacity: 1;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item a {
		color: #8089A6;
		display: block;
		padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
	}
	.list_item a:hover {
		background: rgba(255,255,255,.2);
  }
  .list_item a.active{
    border-left: 10px solid #0AD69C;
    color: #E5E5E5;
  }
  
/* END side menu*/
.name{
  color:#000;
  font-size: 20px;
  font-weight: bold;
}
.lastTimeOnline{
  float: right;
  color: #000;
}
/* BEGIN BREADCRUMBS */
.breadcrumbsContainer{
  margin-left: 190px;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #0AD69C;
  content: ">\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* END BREADCRUMBS */

.container {
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.people-list {
  width: 20%;
  float: left;
  margin-left: 10%;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  float: left;
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 50px;
}
.people-list img {
  float: left;
  height: 90px;
}
.people-list .about {
  float: left;
  margin-top: 34px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}
.profile{
  font-size: 19px;
}
.chat {
  width: 70%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: right;
}
.chat .chat-header .chat-about {
  float: right;
  padding-left: 10px;
  margin-top: 33px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: #000;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .my-message {
  background: #fff;
}
.chat .chat-history .other-message {
  background: #fff;
  text-align: right;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
