html{
    height: 100%;
}

body{
    font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
    font-size: 12px;
    background-image: url('./bcg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-container{
	display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
}

.login input[type=text] {
    border: none;
    width: 380px;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid #2f364f;
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    outline:0; 
}

.login input[type=text]::placeholder {
    color:#616983;
    font-size: 20px;
    margin: 0;
    text-align: left;
}
.login input[type=password] {
    outline:0; 
    border: none;
    width: 380px;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid #2f364f;
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}
.login input[type=password]::placeholder{
    color:#616983;
    font-size: 20px;
}

.login button[type=submit] {
    width: 380px;
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
    color: #000;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login{
    text-align: center;
    margin-top: 25%;
    display: inline-block;
    vertical-align: top;
    margin-left: 25%;
}

.heading1{
    text-align: left;
    font-size: 32px;
    margin-bottom: 10px;
}
.supText{
    text-align: left;
    font-size: 16px;
    color: #616983;
    margin-bottom: 30px;
}
.btn {
    display: block;
    margin: 10px 0 40px 3px;
    padding: 24px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 140% auto;
    color: white;   
    border-radius: 3px;
    background-image: linear-gradient(to right, #1670d5 0%, #1670d5 51%, #a1c4fd 100%);
}
  .btn:hover {
    background-position: right center; 
    cursor: pointer;    
  }
  .supText a{      
      color: #3a91e2;
      text-decoration: none;
  }

/* Popup */
  .popupBlock {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.popupBlock .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    font-size: 18px;
    bottom: 24%;
    left: 123%;
    margin-left: -80px;
}
.popupBlock .popuptext2 {
    visibility: hidden;
    width: 180px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    font-size: 18px;
    bottom: 2%;
    left: 123%;
    margin-left: -80px;
}


.popupBlock .popuptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.popupBlock .popuptext2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
.popupBlock .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.logo{
    background: url(./logo.png) no-repeat center center;
    background-repeat: no-repeat;
    height: 70px;
    margin-bottom: 40px;
}
.left-panel{
    display: inline-block;
    vertical-align: top;
    margin: 34% 0 0 25%;
}
.left-panel .howToText{
    font-size: 25px;
    text-align: center;
}
.left-btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
  }
  
  .left-btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  
  .blue {
    background-color: #809ad6;    
  }
  
  .blue:hover {
    background-color: #6FC6FF;
  }
  .margin-top{
    margin-top: 40px;   
  }
  .backButton {
    position: relative;
    top: 20%;
    left: 25%;  
}
.back{
    font-size: 40px;
    color: #616983;
}
.back:hover{
    cursor: pointer;
}


#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  #myUL li a {
    border: none;  
    border-bottom: 1px solid #ddd;
    margin-top: -1px; 
    padding: 12px;
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    display: block;
    opacity: 0.7;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #f2f2f2;
    color: #000;
  }
  .login.list{
    margin-left: 30%;
  }

  .scrollbar
  {
    margin-left: 30px;
    float: left;
    height: 200px;
    overflow-y: scroll;
    width: 500px;
  }
  
  #scroll::-webkit-scrollbar-track
  {
      border-radius: 10px;
      border: none;
      opacity: 0;
  }
  
  #scroll::-webkit-scrollbar
  {
      width: 12px;
      border:none;      
  }
  
  #scroll::-webkit-scrollbar-thumb
  {
      border-radius: 10px;     
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #616983;
  }
  
  